<?xml version="1.0"?>
<config>
    <modules>
        <Iceshop_Icecatlive>
            <version>1.7.11</version>
        </Iceshop_Icecatlive>
    </modules>
    <default>
    <icecatlive>
        <icecatlive_icecat_dataurl>
            <icecat_dataurl><![CDATA[https://data.icecat.biz/xml_s3/xml_server3.cgi]]></icecat_dataurl>
        </icecatlive_icecat_dataurl>

        <icecatlive_icecat_statistics_url>
            <icecat_url><![CDATA[https://api.iceshop.biz/api.php?module=icecat_live]]></icecat_url>
        </icecatlive_icecat_statistics_url>

        <icecatlive_cache_path>
            <cache_path><![CDATA[/iceshop/icecatlive/cache/]]></cache_path>
        </icecatlive_cache_path>

        <icecatlive_permission_error>
            <icecatlive_error_text><![CDATA[Permission denied: ]]></icecatlive_error_text>
        </icecatlive_permission_error>

        <icecatlive_process_running>
            <icecatlive_error_text><![CDATA[The process is currently running by another session.Please wait till the process is finished.]]></icecatlive_error_text>
        </icecatlive_process_running>

        <patch>
            <template_file_path><![CDATA[frontend/default/default/template/iceshop/icecatlive/groupattributes.phtml]]></template_file_path>
        </patch>

        <noimportid_tables>
             <table_name>iceshop_icecatlive_noimport_products_id</table_name>
        </noimportid_tables>
        <extensions_logs_tables>
             <table_name>iceshop_icecatlive_extensions_logs</table_name>
        </extensions_logs_tables>
    </icecatlive>
    </default>
    <global>
        <helpers>
            <icecatlive>
                <class>Iceshop_Icecatlive_Helper</class>
            </icecatlive>
            <catalog>
                <rewrite>
                    <output>Iceshop_Icecatlive_Helper_Output</output>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <icecatlive>
                <class>Iceshop_Icecatlive_Block</class>
            </icecatlive>
            <catalog>
                <rewrite>
                    <product_view_attributes>Iceshop_Icecatlive_Block_Attributes</product_view_attributes>
                    <product_list_related>Iceshop_Icecatlive_Block_Related</product_list_related>
                    <product_list_upsell>Iceshop_Icecatlive_Block_Upsell</product_list_upsell>
                    <product_list_toolbar>Iceshop_Icecatlive_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <result>Iceshop_Icecatlive_CatalogSearch_Block_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <icecatlive>
                <class>Iceshop_Icecatlive_Model</class>
                <resourceModel>icecatlive_resource_eav_mysql4</resourceModel>
            </icecatlive>
            <icecatlive_resource_eav_mysql4>
                <entities>
                    <products_titles>
                        <table>iceshop_icecatlive_products_titles</table>
                    </products_titles>
                </entities>
            </icecatlive_resource_eav_mysql4>
            <catalog>
                <rewrite>
                    <product>Iceshop_Icecatlive_Model_Catalog_Product</product>
                    <category>Iceshop_Icecatlive_Model_Catalog_Category</category>
                </rewrite>
            </catalog>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>Iceshop_Icecatlive_Model_Catalog_Search</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
        </models>
        <resources>
            <icecatlive_setup>
                <setup>
                    <module>Iceshop_Icecatlive</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icecatlive_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <icecatlive after="Mage_Adminhtml">Iceshop_Icecatlive</icecatlive>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <icecatlive>
                <use>standard</use>
                <args>
                    <module>Iceshop_Icecatlive</module>
                    <frontName>icecatlive</frontName>
                </args>
            </icecatlive>
        </routers>
        <layout>
            <updates>
                <icecatlive>
                    <file>iceshop/icecatlive/groupattributes.xml</file>
                </icecatlive>
            </updates>
        </layout>
        <translate>
            <modules>
                <icecatlive>
                    <files>
                        <default>Iceshop_Icecatlive.csv</default>
                    </files>
                </icecatlive>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <icecatlive>
                    <file>icecatlive.xml</file>
                </icecatlive>
            </updates>
        </layout>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <icecatlive>Iceshop_Icecatlive.csv</icecatlive>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <icecatlive_load_data>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>icecatlive/observer::load</model>
                </run>
            </icecatlive_load_data>
            <icecatlive_load_updata>
                <schedule>
                    <cron_expr>0 0 * * 0</cron_expr>
                </schedule>
                <run>
                    <model>icecatlive/observer::loadUpdate</model>
                </run>
            </icecatlive_load_updata>
        </jobs>
    </crontab>
</config>