<?xml version="1.0"?>
<config>
    <tabs>
        <iceshop translate="label" module="icecatlive">
            <label>Iceshop</label>
            <sort_order>250</sort_order>
        </iceshop>
    </tabs>
    <sections>
        <icecat_root translate="label" module="icecatlive">
            <class>separator-top</class>
            <label>Icecatlive Settings</label>
            <tab>iceshop</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <icecat translate="label">
                    <label>Icecat Live! Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <explanation translate="label">
                            <label><![CDATA[<a id="icecatlive_explanation" target="_blank">Explanation</a>]]></label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>label</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </explanation>
                        <login translate="label">
                            <label>Icecat User name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Icecat Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <icecat_type translate="label">
                            <label>Subscription level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_subscription</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icecat_type>
                        <language translate="label">
                            <label>Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_locales</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                        <sku_field translate="label">
                            <label>MPN</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_attributes</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sku_field>
                        <manufacturer translate="label">
                            <label>Brand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_attributes</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </manufacturer>
                        <ean_code translate="label">
                            <label>GTIN</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_attributes</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ean_code>
                        <descript_priority translate="label">
                            <label>Use Description from</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_descriptionpriority</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </descript_priority>
                        <shortdescr_priority translate="label">
                            <label>Use Short description from</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_shortdescrpriority</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shortdescr_priority>
                        <name_priority translate="label">
                            <label>Use Product Name from</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_namepriority</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name_priority>
                        <image_priority translate="label">
                            <label>Use Product Image from</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_imagepriority</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_priority>
                        <product_priority translate="label">
                            <label>Show/Hide products not presented at icecat</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_productpriority</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_priority>
                        <product_loadingtype translate="label">
                            <label>Loading type:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_loadingtype</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_loadingtype>
                        <view_attributes translate="label">
                            <label>Not view attribute in product</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>icecatlive/system_config_viewattributes</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </view_attributes>
                        <product_onlynewproducts translate="label">
                            <label>Import ONLY new products:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_onlynewproducts</source_model>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_onlynewproducts>
                        <import_data translate="label">
                            <label>Full import data</label>
                            <frontend_type>submit</frontend_type>
                            <frontend_model>icecatlive/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_data>
                        <update_data translate="label">
                            <label>Update information on new products</label>
                            <frontend_type>submit</frontend_type>
                            <frontend_model>icecatlive/adminhtml_system_config_form_UpdateButton</frontend_model>
                            <sort_order>76</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </update_data>
                        <icecatlive_explanation_hidden translate="label comment">
                            <label></label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_explanations</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icecatlive_explanation_hidden>
                    </fields>
                </icecat>
            </groups>
        </icecat_root>
        <icecatlive_information translate="label" module="icecatlive">
            <label>Icecatlive Information</label>
            <tab>iceshop</tab>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <comment><![CDATA[]]></comment>
            <groups>
                <dashboard translate="label comment">
                    <label>Dashboard</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<span style="color: grey;">Loading...</span>]]></comment>
                    <fields>
                        <check_system_hidden translate="label comment">
                            <label></label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_checksystem</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </check_system_hidden>
                    </fields>
                </dashboard>
            </groups>
        </icecatlive_information>
        <iceshop_about translate="label" module="icecatlive">
            <label>Iceshop</label>
            <tab>iceshop</tab>
            <class>iceshop-info-section</class>
            <header_css>iceshop-info-header</header_css>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <comment><![CDATA[]]></comment>
            <groups>
                <iceshop_iframe translate="label comment">
                    <label>More about Iceshop</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<span style="color: grey;">Loading...</span>]]></comment>
                    <fields>
                        <iceshop_iframe_hidden translate="label comment">
                            <label></label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>icecatlive/system_config_iceshoplink</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </iceshop_iframe_hidden>
                    </fields>
                </iceshop_iframe>
            </groups>
        </iceshop_about>
    </sections>
</config>
